.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.container-fluid {
  background: #00ff00;
  height: 100px;
  margin-bottom: 150px;
  text-align: center;

}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000;
}

h1 {
  
  margin: 30px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #00ff00;
  text-align: center;
}

h2 {
  margin: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #000;
  padding-top: 25px;
}

p {
  font-size: 1.7rem;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #BCED91;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;

}

a {
  color: #BCED91;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: #00ff00;
  font-size: 1rem;
}